body {
  background-color: #cdcdcd;
  color: #1e1e41;
}

h1, h2, h3, h4 {
  color: #0a3c9b;
}

.container {
  padding-top:3%;
  height:100%;
  width:100%;
  font-size: 140%;
}

.form {
  margin-left:auto;
  margin-right:auto;
  width:70%;
  height:30px;
}

textarea {
  border:#e6460a 1px solid;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

input{
  width: 100%;
  height: 200%;
  font-size:100%;
  border:#e6460a 1px solid;
  background: white;
  padding: 1%;
}

input:invalid {
  background-color: #fe8558;
}
input:valid {
  background-color: white;
}
